<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title | prepend:" | " | prepend:site.name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend:site.url }}">
    <link rel="stylesheet" href="{{ '/assets/css/mobile_view.css' | prepend:site.url }}">
    <link rel="shortcut icon" href="{{ site.favicon | prepend:"/" | prepend:site.url }}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <a href="{{ site.baseurl | prepend:site.url }}"><img src="{{ '/assets/img/second.png' | prepend:site.url }}" class="show-on-mobile"></a>
    <a class="main-header hide-on-mobile" href="{{ site.baseurl | prepend:site.url }}">{{ site.name }}</a>
</head>
