<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta property="og:title" content="{{page.title}} | {{site.name}}" /> 
	<title>{{page.title}} | {{site.name}}</title>
    	<meta name="description" content="{{site.description}}">
	<meta property="og:description" content="{{site.description}}" />
	<meta property="og:url" content="/{{page.url}}" />
    	<link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend:site.url }}">
    	<link rel="shortcut icon" href="{{ site.favicon | prepend:"/" | prepend:site.url }}">
   	<link rel="canonical" href="/">
	<link rel="alternate" type="application/rss+xml" title="{{site.name}}" href="/feed.xml">
    	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    	<a href="{{ site.baseurl | prepend:site.url }}"><img src="{{ '/assets/img/frame_0_delay-0.1s.png' | prepend:site.url }}" class="main-img center-on-mobile"></a>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
