.content{
    padding-right: 10px;
}


a{
    text-decoration: none;

    :hover{
        text-decoration: underline;
    }

    .main-header{
        font-size: 50px;
        text-transform: uppercase;
    }
}
