.show-on-mobile{
    visibility: hidden;
    opacity: 0;
}

.hide-on-mobile{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 500px){
  .hide-on-mobile{
    visibility: hidden;
    opacity: 0;
  }
  
  .show-on-mobile{
    visibility: visible;
    opacity: 1;
  }
}

