---
---

@charset "utf-8";

$text-color:       #ecf0f1;
$background-color: #95a5a6;

$border-radius: 7px;


$white-color: #fefefe;
$glass-color: lighten($background-color, 2%);
$grey-color: #546E7A;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$teal-color: #26A69A;
$green-color: #4CAF50;
$lime-color: #C6FF00;
$yellow-color: #FFEB3B;
$orange-color: #FB8C00;
$red-color: #F44336;
$pink-color: #E91E63;
$purple-color: #9C27B0;
$blue-color: #2196F3;

body{
  font-family: 'Oswald', sans-serif;
  background-color: $background-color;
}

::selection{
  background-color: #2ecc71;
}

html, body, a, li{
  color: $text-color;
}

.content{
  padding-left: 10px;
}

a{
  text-decoration: none;
  color: #2c3e50;
  
  &:hover{
    text-decoration: underline;
    color: #3498db;
  }
  
  &.nav-link{
    margin:5px;
    padding:5px;
    font-size:30px;
  } 
}

.main-img{
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #e67e22dd;
    transform: scale(0);
    opacity: 0;
    transition: 0.2s linear;
  }
  
  &:hover{
    transform: scale(1.6) rotate(25deg);
  }
  
  &:hover::before{
    opacity: 1;
    transform: scale(1);
  }
}

footer{
  font-size:15px;
  text-align:center;
  bottom:0;
  position:static;
}

@import "mobile_view";
@import "syntax-highlighting";
